{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'recommApp/spotify-popup.css' %}">
</head>
<body>

    <div class="card">
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/84/Spotify_icon.svg" alt="Spotify Logo" class="spotify-logo">
        <h2>Login to Your Spotify Account</h2>
        <a href="{% url 'spotify-login' %}">
            <button>Login</button>
        </a>
    </div>

</body>
</html>
